
/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-pink {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-slate {
  font-weight: 600;
  color: #708090 !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #44C1C4 !important;
}
.hi-purple {
  font-weight: 600;
  color: #9370DB !important;
}
.hi-orange {
  font-weight: 600;
  color: #FD5F00 !important;
}
.hi-yellow {
  font-weight: 600;
  color: #D7AA27 !important;
}
.hi-green {
  font-weight: 600;
  color: #007935 !important;
}
.hi-grey {
  font-weight: 600;
  color: #A8A8AA !important;
}
.hi-blue {
  font-weight: 600;
  color: #07506F !important;
}
.hi-red {
  font-weight: 600;
  color: #b92e34 !important;
}
/* Pink text */
.pink {
  color: #e64173 !important;
}
/* Slate text */
.slate {
  color: #708090 !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #44C1C4 !important;
}
/* Purple text */
.purple {
  color: #9370DB !important;
}
/* Orange text */
.orange {
  color: #FD5F00 !important;
}
.yellow{
  color: #D7AA27 !important;
}
.green {
  color: #007935 !important;
}
.grey {
  color: #A8A8AA !important;
}
.blue {
  color: #07506F !important;
}
.red {
  color: #b92e34 !important;
}

/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
/* Grey text */
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}

/* Mono-spaced font */
.mono {
  font-family: 'Fira Code';
}
/* Underline */
.ul {
  text-decoration: underline;
}
/* Overline */
.ol {
  text-decoration: overline;
}
.st {
  text-decoration: line-through;
}
/* Fraction */
.top{
  display:inline-block;
}
.bottom{
  border-top:solid black 1px;
  display:inline-block;
  clear:left;
}

.remark-code-line-highlighted {
  background-color: rgba(249, 39, 114, 0.5);
}

.bigger {
  font-size: 125%;
}

.smaller {
  font-size: 95%;
}

.smallest {
  font-size: 85%;
}

.remark-slide-content {
  background-color: #ffffff;
  border-top: 80px solid #233b25;
  font-size: 24px;
  /* font-weight: 300; */
  /* line-height: 1.5; */
  /* padding: 1em 2em 1em 2em; */
}

.inverse {
  background-color: #233b25;
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

.footnote {
  bottom: 1.5em;
  font-size: 70%;
}

.dark-slide {
  background-color: #233b25;
  border-top: 0px solid #23373B;
}
.dark-slide .remark-slide-number {
  display: none;
}

.white-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.white-slide .remark-slide-number {
  display: none;
}

.clear-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}

.mjx-chtml{
  font-size: 103% !important;
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: 'Fira Code';
  font-size: 20px;
}
.mono-small .mjx-chtml {
  font-size: 103% !important;
}

.pseudocode, .pseudocode-small {
  font-family: 'Fira Code';
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 70%;
}
.sub{
  vertical-align: sub;
  font-size: 70%;
}

.remark-code {
  font-size: 70%;
}

.inverse > h2 {
  color: #e64173;
  font-weight: 300;
  font-size: 40px;
  font-style: italic;
  margin-top: -25px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: rgba(0,121,53,1);
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
  text-align: left;
  margin-left: 15px;
}

.remark-inline-code {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.more-left {
  float: left;
  width: 63%;
}
.less-right {
  float: right;
  width: 31%;
}
.more-right ~ * {
  clear: both;
}
